body{
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
.container{
  max-width: 1430px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;

}
.sitenav{
  display: flex;
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  background-color: white;
  z-index: 3;
  box-shadow: 0px 1px 0px 0px  grey;;
}
.logo-in-sitenav{
  padding: 0px;
  margin-top: 18px;
}
.sitenav-list{
  display: flex;
  width: 540px;
  height: 56px;
  margin-left: 300px;
  padding: 0px;
  margin-right: 10px;
  justify-content: center;
}
.sitenav-item{
  list-style-type: none;
  text-decoration: none;
}
.sitenav-item-services{
  list-style-type: none;
  text-decoration: none;
}
.sitenav-link-services{
  list-style-type: none;
  text-decoration: none;

}
.dropdown-menyu{
  list-style-type: none;
  text-decoration: none;
  align-items: center;
  z-index: 0;
  opacity: 0;
  height: 216px;
  width: 124px;
  margin-top: 18px;
  margin-right: 10px;
  position: absolute;
  margin-left: -40px;
}
.inside-item{
  width: 124px;
}
.inside-link{
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  display: block;
  text-decoration: none;
}
.inside-link:hover{
  color: white;
  background-color: lightskyblue;
}
.sitenav-item-services:hover .dropdown-menyu{
  z-index: 1;
  opacity: 1;
}
.sitenav-link-left{
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-size: 15px;
  padding: 16px;
  width: 114px;
  background-color: white;
}
.sitenav-link-services{
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-size: 15px;
  padding: 16px;
  width: 98px;
  background-color: white;
}
.sitenav-link-portfolio{
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-size: 15px;
  padding: 16px;
  width: 93px;
  background-color: white;
}
.sitenav-link-team{
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-size: 15px;
  padding: 16px;
  width: 76px;
  background-color: white;
}
.sitenav-link-blog{
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-size: 15px;
  padding: 16px;
  width: 63px;
  background-color: white;
}
.sitenav-link-contacts{
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-size: 15px;
  padding: 16px;
  width: 105px;
  background-color: white;
}
.sitenav-link-left:hover{
  border-bottom: 3px solid black;
}
.sitenav-link-services:hover{
  border-bottom: 3px solid black;
}
.sitenav-link-portfolio:hover{
  border-bottom: 3px solid black;
}
.sitenav-link-team:hover{
  border-bottom: 3px solid black;
}
.sitenav-link-contacts:hover{
  border-bottom: 3px solid black;
}
.sitenav-link-blog:hover{
  border-bottom: 3px solid black;
}

.sitenav-link-left:active{
  background-color: black;
  color: white;
}
.sitenav-link-services:active{
  background-color: black;
  color: white;
}
.sitenav-link-portfolio:active{
  background-color: black;
  color: white;
}
.sitenav-link-team:active{
  background-color: black;
  color: white;
}
.sitenav-link-contacts:active{
  background-color: black;
  color: white;
}
.sitenav-link-blog:active{
  background-color: black;
  color: white;
}


.phone-number{
  border: 2px solid lightskyblue;
  color: white;
  height: 40px;
  width: 169px;
  list-style: none;
  text-decoration: none;
  background-color: lightskyblue;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 20px;
  padding-top: 8px;
  font-size: 16px;
  margin-left: 8px;
  margin-right: 40px;
  text-align: center;
  border-radius: 8px;
  text-align: center;
  align-items: flex-start;
  margin-top: 4px;
}

.phone-number:hover{
  background-color: white;
  color: lightskyblue;
}
.promo-list{
  margin-left: auto;
  margin-right: auto;
  width: 1300px;
  height: 418px;
  display: flex;
  margin-top: 100px;
}
.promo-logo{
  color: black;
  width: 470px;
  height: 78px;
}
.promo-text{
  font-size: 16px;
  line-height: 24px;
  color: black;
  width: 470px;
  padding-top: 0px;
  margin-top: -16px;
}
.promo-service{
  font-size: 16px;
  width: 200px;
  height: 24px;
  color: white;
  background-color: blue;
  padding:8px 16px 8px 16px;
  border-radius: 6px;
  text-decoration: none;
}
.promo-video{

  position: absolute;
  border-radius: 5px;
  right: 100px;

}
.center-contain{
  margin-left: auto;
  margin-right: auto;
  margin-top: 56px;

}
.section-title{
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  text-align: center;
}
.section-text{
  width: 719px;
  height: 48px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
.services-center-list{
  width: 1300px;
  height: 280px;
  display: flex;

}

.item-center{
  width: 320px;
  height: 260px;
  margin-right: 70px;
  background-color: white;
  list-style-type: none;
  box-shadow:0px 3px 3px 0px grey;
}
.service-link{
  display: block;
  margin-top: 28px;
  text-align: center;list-style-type: none;
  text-decoration: none;
  color: black;
}
.center-bottom{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  width: 790px;
}
.buyurtma-qismi{
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  margin-top: 40px;
  align-items: center;
}
.buyurtma-item{
  list-style-type: none;
  text-decoration: none;
}
.buyurtma-button{
  list-style-type: none;
  text-decoration: none;
  color: white;
  font-size: 15px;
  margin-right: 16px;
  background-color: blue;
  padding: 8px 16px 8px 16px;
  box-shadow: none;
}
.buyurtma-link-right{
  color: skyblue;
  font-size: 15px;
  list-style-type: none;
  margin-top: 10px;
}
.bottom-section-logo{
  margin-left: auto;
  margin-right: auto;
  width: 262px;
  margin-top: 56px;
  margin-bottom: 16px;
}
.bottom-logo-text{
  width: 719px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
  text-align: center;
}
.center-total{
  flex-direction: column;
  width: 832px;
  margin-right: auto;
  margin-left: auto;
}
.on-top{
  display: flex;
  justify-content: space-between;
}
.text-onbottom{
  padding-top: 0;
  width: 493px;
  font-size: 16px;
}
.box-top{
  margin-left: 126px;
  margin-top: 80px;
}
.on-center{
  display: flex;
  width: 832px;
  background-image: url('img/step-illlustration\ \(1\).png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.box-center{
  margin-right: 126px;
  margin-top: 80px;
}
.text-in-center{
  width: 355px;
}
.text-oncenter{
  width: 700px;
}
.on-center-for{
  display: flex;
  width: 832px;
  background-image: url('img/step-illustration\ \(1\).png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.bottom-main-div{
   margin-left: auto;
   margin-right: auto;
   width: 167px;
   margin-bottom: 55px;
}
.bottom-main{
  color: white;
  width: 167px;
  background-color: blue;
  padding:8px 16px 8px 16px;
  font-weight: bold;
  border-radius: 8px;
}
.bottom-container{
  background-color: blue;
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
.center-footer{
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 719px;
  margin-top: 55px;
}
.footer-logo{
  color: white;
  margin-bottom: 16px;
  width: 203px;
  margin-right: auto;
  margin-left: auto;
}
.last-text{
  color: white;
  margin-right: auto;
  margin-left: auto;
  width: 719px;
  text-align: center;
  margin-bottom: 16px;
}
.form-last{
  padding:24px;
  width: 330px;
  margin-right: auto;
  margin-left: auto;
}
.name-for{
  width: 300px;
  height: 56px;
  padding-left: 12px;
  background-color: whitesmoke;

}
.number-for{
  width: 300px;
  height: 56px;
  padding-left: 12px;
  background-color: whitesmoke;
}
.last-select{
  width: 300px;
  height: 56px;
  padding-left: 12px;
  background-color: whitesmoke;
}
